@media screen and (max-width: 1000px) {
    .product_card {
        width: 48%;
    }

    .index-section_fifth_wrapper {
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 800px) {
    .category_wrapper-browse-categories {
        gap: 5px;
    }

    .category_wrapper-actions {
        gap: 5px;
    }

    .category_wrapper-inner {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    .index-section_third {
        margin-top: 10px;
    }

    .index-section_third_wrapper {
        flex-direction: column;
        gap: 20px;
    }

    .index-section_third_btn_wrapper {
        width: 100%;
        flex-wrap: wrap;
    }

    .index-comment {
        width: 100%;
    }

    .footer_ul {
        width: 45%;
        margin-top: 30px;
    }
}

@media screen and (max-width: 600px) {
    :root {
        /* Colors */
        --color-primary: #EDA415;
        --color-secondary: #003F62;
        --color-text: #1B5A7D;
        --color-dark: #292D32;
        --color-white: #fff;
        --color-blured: rgba(0, 0, 0, 0.2);
        /* Sizes */
        --size-default: 12px;
        --size-heading: 38px;
        --size-big: 18px;
        --size-small: 16px;
    }

    .index-section_first_wrapper {
        flex-direction: column-reverse;
    }

    .index-section_first_left {
        padding: 0% 5%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .index-section_first_heading br {
        display: none;
        margin-top: 10px;
    }

    .index-section_first_right {
        padding: 0% 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .index-section_eight_wrapper img {
        width: 40%;
    }
}

@media screen and (max-width: 550px) {
    .before_heading-div {
        display: none;
    }

    .header_wrapper {
        padding: 20px 3%;
    }

    .toggle_menu {
        display: flex;
    }

    .menu {
        position: fixed;
        left: 0%;
        top: -100%;
        width: 100%;
        height: 100vh;
        background: var(--color-secondary);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .menu.default {
        top: 0%;
    }

    .nav-item {
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal_wrapper {
        position: fixed;
        left: 0%;
        top: -100%;
        background: var(--color-blured);
        padding: 20px;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .modal_wrapper.default {
        display: flex;
        left: 0;
        top: 0;
    }

    .modal {
        gap: 5px;
    }
}

@media screen and (max-width: 510px) {
    .product_card {
        width: 100%;
    }

    .index-section_six_qualities {
        margin-top: 15px;
    }
}

@media screen and (max-width: 450px) {
    .search_box {
        display: flex !important;
        border-radius: 15px;
    }

    .search_box-input {
        width: 80%;
        padding: 10px 0 10px 20px;
        background: var(--color-white);
        border-radius: 15px 0 0 15px;
        color: var(--color-dark);
    }

    .search_box-btn {
        padding: 10px 20px;
        border-radius: 15px;
        background: var(--color-primary);
        font-weight: 400;
        color: var(--color-white);
        cursor: pointer;
        margin-left: 5px;
    }

    .search_box-btn:active {
        transform: scale(.9);
    }

    .swiper-slide img {
        width: 30%;
    }

    :root {
        /* Sizes */
        --size-default: 12px;
        --size-heading: 28px;
        --size-big: 18px;
        --size-small: 16px;
    }


}

@media screen and (max-width: 400px) {
    .index-section_third_btn_wrapper button {
        width: 40%;
    }

    .swiper {
        padding-left: 1px;
    }

    :root {
        --size-heading: 22px;
    }

    .footer_ul {
        width: 90%;
        margin-top: 20px;
    }
}

@media screen and (max-width: 310px) {
    .category_wrapper-free-trial {
        display: none;
    }

    .swiper-slide img {
        width: 40%;
    }

    .index-section_third_btn_wrapper button {
        width: 90%;
    }

    .swiper {
        padding: 0.5px;
    }

    .index-section_eight_wrapper img {
        width: 70%;
    }
}