@media screen and (max-width: 1000px) {}

@media screen and (max-width: 1000px) {}

@media screen and (max-width: 750px) {}

@media screen and (max-width: 600px) {
    /* .before_heading {
        display: none;
    } */

    /* .before_heading-div {
        display: none;
    } */

    :root {
        /* Colors */
        --color-primary: #EDA415;
        --color-secondary: #003F62;
        --color-text: #1B5A7D;
        --color-dark: #292D32;
        --color-white: #fff;
        --color-blured: rgba(0, 0, 0, 0.2);
        /* Sizes */
        --size-default: 12px;
        --size-heading: 24px;
        --size-big: 20px;
        --size-small: 16px;
    }
}

@media screen and (max-width: 550px) {
    .before_heading-div {
        display: none;
    }

    .header_wrapper {
        padding: 20px 3%;
    }

    .toggle_menu {
        display: flex;
    }

    .menu {
        position: fixed;
        left: 0%;
        top: -100%;
        width: 100%;
        height: 100vh;
        background: var(--color-secondary);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .menu.default {
        top: 0%;
    }

    .nav-item {
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal_wrapper {
        position: fixed;
        left: 0%;
        top: -100%;
        background: var(--color-blured);
        padding: 20px;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .modal_wrapper.default {
        display: flex;
        left: 0;
        top: 0;
    }

    .modal {
        gap: 5px;
    }
}

@media screen and (max-width: 450px) {
    .search_box {
        display: flex !important;
        border-radius: 15px;
    }

    .search_box-input {
        width: 80%;
        padding: 10px 0 10px 20px;
        background: var(--color-white);
        border-radius: 15px 0 0 15px;
        color: var(--color-dark);
    }

    .search_box-btn {
        padding: 10px 20px;
        border-radius: 15px;
        background: var(--color-primary);
        font-weight: 400;
        color: var(--color-white);
        cursor: pointer;
        margin-left: 5px;
    }

    .search_box-btn:active {
        transform: scale(.9);
    }

}